.handsontable .changed {
    background-color: #EDFD56 !important;
}

.handsontable .delete {
    text-decoration: line-through;
    background-color: #FFDDDD !important;
}

.handsontable .currentRow {
    background-color: #E7E8EF;
}

.handsontable .currentCol {
    background-color: #F9F9FB;
}